# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
!Tools/*.exe
*Hamster/Debug/*.log
*Hamster/Debug/*.obj
*Hamster/Debug/vc120.idb
*Hamster/Debug/vc120.pdb
*Hamster/Debug/Hamster.tlog/cl.command.1.tlog
*Hamster/Debug/Hamster.tlog/CL.read.1.tlog
*Hamster/Debug/Hamster.tlog/CL.write.1.tlog
*Hamster/Debug/Hamster.tlog/Hamster.lastbuildstate
*Hamster/Debug/Hamster.tlog/link.command.1.tlog
*Hamster/Debug/Hamster.tlog/link.read.1.tlog
*Hamster/Debug/Hamster.tlog/link.write.1.tlog
*Hamster/Debug/*.lastbuildstate
*Debug/*
**.opensdf
**.sdf
**.suo
**.vcxproj
**.filters
/Debug
/Hamster.VC.db
/Hamster.VC.VC.opendb
/Yacc.output
/Hamster/Debug/Hamster.tlog
/Hamster/Debug/Hamster.log
/Hamster/Debug/*
/Hamster/Debug/*.log
/Hamster/Debug
